<div class="slider-detail-container container-max-width py-5 ">
    <h2 class="slider-detail-title">CARTELERA CINE</h2>
    <div class="slider-detail-card">
        <button class="slider-arrow left">
            <span>&#8249;</span>
        </button>
        <div class="slider-detail-poster">
            <div class="slider-detail-badge">Estreno</div>
            <img src="/assets/img/movie-1.png" alt="Paddington En Perú" 
                alt="Paddington En Perú" />
        </div>
        <button class="slider-arrow right">
            <span>&#8250;</span>
        </button>
    </div>
    <button class="slider-detail-trailer-btn">
        <span class="slider-detail-trailer-icon">&#9654;</span>
        Ver Trailer
    </button>
    <div class="slider-detail-info">
        <h3>Paddington En Perú</h3>
        <div class="slider-detail-tags">
            <span class="slider-detail-tag">
                <span class="slider-detail-tag-icon">&#128101;</span>
                Familiar
            </span>
            <span class="slider-detail-tag">
                <span class="slider-detail-tag-icon">&#128197;</span>
                5 Dic.2024
            </span>
            <span class="slider-detail-tag">
                <span class="slider-detail-tag-icon">&#9201;</span>
                107 Min.
            </span>
        </div>
        <div class="slider-detail-synopsis">
            <strong>Sinopsis</strong>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a to the leap into electronic typesetting, remaining essentially unchanged galley
                of typegalley of typegalley of type
                <span class="slider-detail-readmore">Leer más</span>
            </p>
        </div>
    </div>
</div>