<div class="carousel-container container-max-width">
    <button class="carousel-btn prev" onclick="slideCarousel(-1)">&#10094;</button>

    <div class="carousel-viewport ">
        <div class="carousel-track">
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-2.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-3.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Venom: El Último Baile</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-1.png" alt="img" />
                    
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-3.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-2.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-3.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Venom: El Último Baile</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-1.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="movie-card">
                <div class="col">
                    <img class="image-recommended" src="../assets/img/movie-3.png" alt="img" />
                    <div class="card-body px-0">
                        <h5 class="fw-bold mt-3 mb-1">Right People, Wrong Place</h5>
                        <a href="#" class="trailer-btn">
                            <span class="circle"></span>
                            Ver Trailer
                        </a>
                        <div class="d-flex gap-2 flex-wrap">
                            <span class="badge bg-light text-dark"><i class="fa fa-users me-1"></i> Terror</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-calendar me-1"></i> 2022</span>
                            <span class="badge bg-light text-dark"><i class="fa fa-star me-1 text-warning"></i>
                                3.8</span>
                        </div>
                        <div class="movie-info">
                            <p>Director: <span>Dougal Wilson</span></p>
                            <p>Actores: <span>Olivia Coman, Rachel Zegler<span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-btn next" onclick="slideCarousel(1)">&#10095;</button>
</div>