.section-cartelera-derecha {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

@media (min-width: 1200px) {
    .section-cartelera-derecha {
        grid-template-columns: 1fr 1fr;
    }
}

.read-more {
    font-size: 14px;
    color: #104596;
    font-weight: bold;
    text-decoration: none;
}

.grupo-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-title {
    font-size: 12px;
    color: #191C36;
    font-weight: bold;
}

.video-favorite {
    color: #104596;

}

.main-section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.movie-detail-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    max-width: 374px;
}

@media (min-width: 770px) {
    .movie-detail-container {
        max-width: 400px;
    }
}

.movie-poster-container {
    position: relative;
    overflow: hidden;
    max-width: clamp(12.5rem, 12.115rem + 1.538vw, 13.5rem);
}

.movie-poster {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.border-article {
    width: 100%;
    height: 1px;
    background-color: #104596;
}

.estreno-badge {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #dc3545 !important;
    color: #fff !important;
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0 4px 4px 0;
    z-index: 1;
}

.movie-title {
    font-size: clamp(0.875rem, 0.779rem + 0.385vw, 1.125rem);
    font-weight: 700;
    color: #14213d;
    margin: 0;
}

.movie-info-badge {
    display: inline-flex;
    align-items: center;
    background-color: #F3F8FF;
    padding: 0.2rem 1.5rem;
    gap: 5px;
    border-radius: 50px;
    font-weight: bold;
    font-size: clamp(0.625rem, 0.577rem + 0.192vw, 0.75rem);
    color: #104596;
}

.movie-detail-content {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.movie-info-badge i {
    color: #0d6efd;
}

.detail-label {
    font-size: 10px;
    margin-bottom: 0.25rem;
    color: #14213d;
}

.detail-value {
    font-size: 10px;
    color: #104596;
    font-weight: bold;
    margin: 0;
}

.trailer-btn {
    display: flex;
    flex-direction: row;
    width: 112px;
    height: 30px;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background-color: #104596;
    color: white;
    border-radius: 50px;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.trailer-btn:hover {
    background-color: #0b5ed7;
    transform: translateY(-2px);
    color: white;
}

.trailer-btn i {
    font-size: 1.1rem;
}

.grid-two-section-60-40-right {
    display: flex !important;
}

/* Filtro Movil */
.btn-filtros {
    font-weight: 500;
    display: block;
}

.group-filter {
    display: none;
    gap: 10px;
    width: clamp(25rem, 9.375rem + 31.25vw, 37.5rem);
    align-items: center;
    margin-bottom: 0;
}

.group-filter select,
.group-filter button {
    margin: 0 !important;
}

.group-filter>div[style] {
    display: none !important;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anuncio-vertical {
    display: none;
}

.group-video {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-subvideo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.section-right {
    display: none;
}

.poster {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.group-actor{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.group-actor-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.grupo-elenco-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grupo-elenco{
    display: none;
    flex-direction: row;
    gap: 5px;
}


@media (min-width: 992px) {
    .grupo-elenco{
        display: flex;
    }
    .grupo-elenco-mobile{
        display: none;
    }
    
    .group-actor{
        display: flex;
    }
    .group-actor-description{
        display: none;
    }
    .anuncio-vertical {
        display: flex;
        flex-direction: row;
    }
    .group-star{
        justify-content: start;
    }
    .trailer-container{
        display: flex !important;
    }
    
    .trailer-container-mobile{
        display: none;
    }

    .group-filter {
        display: flex;
    }

    .poster {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 20px;
        align-items: normal;
    }
    .schedule-button{
        display: inline-block !important;
    }

    .section-title {
        text-align: start !important;
    }

    .movie-title-2 {
        text-align: start !important;
    }

    .grupo-article {
        display: grid;
        grid-template-columns: 65% 5% 30%;
    }

    .border-article {
        width: 1px;
        height: 100%;
    }

    .section-right {
        display: flex;
    }
}



@media (min-width: 770px) {

    .btn-filtros {
        display: none;
    }

    .group-subvideo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

    .group-video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.filtros-modal {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.filtros-modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.filtros-modal-content {
    border-radius: 24px 24px 0 0;
    background: #f7fbff;
    padding: 2rem 1.5rem;
}

.filtros-modal-title {
    font-weight: 700;
    color: #104596;
    font-size: 20px;
}

.filtros-select {
    font-size: 1.1rem;
    border-radius: 12px;
}

.filtros-btn-consultar {
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-consultar {
    color: #fff;
    background-color: #104596;
}

.trailer-container {
    display: none;
    border-radius: 1rem;
    max-width: clamp(22.688rem, 11.269rem + 45.673vw, 52.375rem);
    height: 100%;
}

.trailer-container-mobile{
    display: flex;
    margin: 0 auto;
    max-width: clamp(22.688rem, 11.269rem + 45.673vw, 52.375rem);
}

.trailer-container img,.img-poster img{
    height: 100%;
}


.img-poster{
    max-width: 285px;
}


.trailer-preview {
    object-fit: cover;
    min-height: 220px;
}

.play-button {
    font-size: 3rem !important;
    color: #dc3545 !important;
    background: none !important;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horarios-title {
    font-size: 1.2rem !important;
}

.star-rating .filled {
    color: #ffc107 !important;
}

.star-rating .empty {
    color: #adb5bd !important;
}

.movie-metadata {
    gap:20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group-star{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    min-width: 350px
}

.movie-tag {
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    background: #fff;
    color: #104596;
    align-content: center;
    font-size: clamp(0.625rem, 0.583rem + 0.185vw, 0.75rem);
}



.schedule-button {
    margin-left: 0.5rem;
    border: 1px solid #104596;
    background: #fff;
    display: none;
    color: #104596;
}
.schedule-button-mobile{
    margin-left: 0.5rem;
    border: 1px solid #104596;
    background: #fff;
    color: #104596;
}

.rate-button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
}

.user-rating {
    font-size: 2rem;
    color: #adb5bd;
}

.ciudades-modal,
.salas-modal,
.Horarios-modal {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    min-width: 250px;
}

.elenco-img {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 24px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elenco-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elenco-nombre {
    font-size: 14px;
    font-weight: 700;
    color: #191C36;
}

.elenco-personaje {
    font-size: 12px;
    color: #232f3e;
}

.elenco-arrow {
    background: none;
    border: none;
    outline: none;
}

.elenco-slider-anim {
    transition: transform 0.5s cubic-bezier(.4, 1.5, .5, 1);
    will-change: transform;
}

.section-title {
    font-size: clamp(1.125rem, 0.979rem + 0.648vw, 1.563rem);
    font-weight: bold;
    color: #104596;
    text-align: center;
}

.movie-title-2 {
    font-size: clamp(1.375rem, 1.313rem + 0.278vw, 1.563rem);
    font-weight: 700;
    color: #191C36;
    text-align: center;
}

.movie-title-2-span {
    font-size: clamp(0.875rem, 0.792rem + 0.37vw, 1.125rem);
    font-weight: 400;
    color: #191C36;
}

.movie-text {
    font-size: 14px;
    font-weight: 400;
}

.reparto-desc {
    font-size: 14px;
    font-weight: 400;
}

.movie-title-3 {
    font-size: clamp(1.125rem, 0.979rem + 0.648vw, 1.563rem);
    font-weight: 700;
    color: #191C36;
}

.movie-title-s {
    font-size: clamp(0.75rem, 0.625rem + 0.556vw, 1.125rem);
    font-weight: 400;
    color: #191C36;
}

.sinopsis-movie{
    font-size: 14px;
    font-weight: 700;
    color: #104596;
    text-align: justify;
}

.sinopsis-title {
    font-size: 14px;
    font-weight: 400;
    color: #191C36;
    text-align: justify;
}